@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin:0 ;
    padding: 0;
    
    list-style: none;
    text-decoration: none;
    
}
header{
    height: 120px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif ;
    font-size: 25px;
    background-color: black;

    
}
img{
    height: auto;
    width: 150px;

}
body{
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100px;
    color: #d21617;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family:'kadam thmor pro', sans-serif ;
    font-size: 20px;

}
.formulario{
    height:250px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   font-family:'kadam thmor pro', sans-serif ;
   background-color: black;
   color: #fff;
}
#text{
    width: 500px;
    height: 25px;
    border-radius: 10px;
}
#email{
    width: 500px;
    height: 25px;
    border-radius: 10px;
}
#celular{
    width: 500px;
    height: 25px;
    border-radius: 10px;
}
#button{
    width: 250px;
    height: 25px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 2s;
    cursor: pointer;
    color:black
}
#button:hover{
    background-color: #d21617;
    color: #fff;
}
footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
span{
    color: #fff;
    font-family:'kadam thmor pro', sans-serif ;
    
}